body{
    background-image: url("../images/jungle.png");
    background-repeat: repeat;
}
.container{
    background: black;
    width: 55%;
    /* height: 575px; */
    margin-top: 65px;
}
.title{
    margin: 15px 0px;
}
h1{
    font-family: 'Passion One', cursive;
    color: chartreuse;
    text-align: center;
}
.question, .option, .info, .instructions{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 25px 0px;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    text-align: center;
}
.gameOver{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: red;
    text-transform: uppercase;
    text-align:center;
}
.affirm, .affirm:hover{
    background: green;
    border: none;
}
.neg, .neg:hover{
    background: red;
    border: none;
}
.neutral, .neutral:hover{
    background: grey;
    border: none;
}
